@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

h1 {
    color:DarkGreen;
}
    text-align:center;
    
h2 {
    color:Aqua ;
}
  
h3 {
     color:DarkOliveGreen;
}


body {background-image:url('https://cloud.githubusercontent.com/assets/5033761/3575068/b9f30442-0b84-11e4-89b4-e202878e99dd.jpg');

}

#header {
    align: center;
}


body { 
     padding-top: 70px; 
     position: center;
}
