@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

h1 {
    color:DarkGreen;
}
    text-align:center;
    
h2 {
    color:Aqua ;
}
  
h3 {
     color:DarkOliveGreen;
}


body {background-image:url('https://cloud.githubusercontent.com/assets/5033761/3575161/cf825e1a-0b85-11e4-92bc-8955f150f466.jpg');

}

#header {
    align: center;
}


body { 
     padding-top: 70px; 
     position: center;
}

div#container {
width: 800px;
margin: 0px auto;
background: #FFFFFF;
padding: 0px;
}

div#content {
width: 800px;
padding-top: 100px;
background: yellow;
}

div#header {
width: 800px;
height: 100px;
background: blue;
position: absolute;
top: 0px;
}

