h1 {
    color:DarkGreen;
}
    text-align:center;
    
h2 {
    color:Aqua ;
}
  
h3 {
     color:DarkOliveGreen;
}


.body {
    background-color:AliceBlue;
}

#header {
    align: center;
}


body { 
     padding-top: 70px; 
     position: center;
}
